/* body{
    display: flex;
    align-items: center;
    justify-content: center;
} */
body{
    background-color: rgb(246, 242, 238);
}
#navbar{
    position: sticky;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#navbar ul{
    list-style: none;
    display: flex;
}
#navbar a{
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}
#navbar a:hover{
    color: black;
    background-color: white;
    border-radius: 20px;
    transition-duration: 1s;
    /* border: 1px solid; */
}
.center{
    text-align: center;
}
.form-center{
    display: flex;
    justify-content: center;
}
#form{
    /* background-color: aqua; */
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 15px 25px -4px rgba(150, 150, 150, 0.24)
}
#form label{
    padding: 20px 10px;
}
#form input{
    margin: 5px;
    height: 20px;
    /* border: solid 1px;
    border-radius: 10px; */
}
#form select{
    /* height: 20px; */
    /* border-radius: 2px; */
    font-size:15px;
}
/* #btn{
    background-color: black;
    padding: 5px 10px;
    color: white;
    border-radius: 20px;
    border: solid 2px white;
    cursor: pointer;
}
#btn:hover{
    background-color: white;
    color: black;
    border: solid 2px black;
} */
button {
    --color: #161517;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 20px;
    font-weight: 500;
    color: var(--color);
}
   
button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}
   
button:hover {
    color: #fff;
    cursor: pointer;
}
   
button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}
   
button:hover:before {
    top: -30px;
    left: -30px;
}
   
button:active:before {
    background: #161517;
    transition: background 0s;
}
#result{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
#result #gpa{
    padding-left: 5px;
}
#footer-section{
    /* display: flex; */
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* justify-content: center; */
    background-color: rgb(189, 232, 232);
}
#footer-section p{
    font-size: 1rem;
}
#footer-section img{
    margin: 0px 10px;
    height: 20px;
}